footer.footer.content__section
	div.container
		div.footer__top
			div.footer__menu.menu-footer
				ul.menu-footer__list
					each item, key in menu
						li(class=pageTitle===item.title || parentTitle===item.title?'active':'')
							a(href=item.link)=item.title
							if item.submenu
								div.menu-footer__submenu-wrapper
									ul.menu-footer__submenu
										each subitem, subkey in item.submenu
											li(class=pageTitle===subitem.title?'active':'')
												a(href=subitem.link)=subitem.title
		div.footer__bottom
			a.footer__logo(href="/")
				img.footer__image(src="images/logo-white.svg" alt="Логотип Центр экспорта")
			div.footer__info
				a.footer__email(href="mailto:export.help@info.ru") export.help@info.ru
				a.footer__phone(href="tel:+79452343434") +7 (945) 234-34-34 
			div.footer__info
				span.footer__copyright 2020 «Export Help». Все права защищены. 
				a.footer__link(href="#") Политика конфиденциальности.
				br
				a.footer__link(href="#") Политика в отношении обработки персональных данных.