@media screen and (max-width: 1459px){
	.container{
		max-width: 1200px;
	}
	.menu-footer__list li > .menu-footer__submenu-wrapper ul li {
		max-width: 230px;
	}
	.main:before {
		width: calc((100% - 1440px) / 2 + 452px);
	}
	.carousel-big__image-block {
		&.visible{
			top: -356px;
			height: 356px;
		}
	}
	.carousel-small {
		width: 840px;
	}
	.home-services__wrapper-carousel-small {
		width: 520px;
	}
	.result {
		&__item-top {
			margin-right: 46px;
		}
		&__text {
		font-size: 18px;
		line-height: 26px;
		}
	}
	.text-page {
		&__title {
			font-size: 50px;
			line-height: 58px;
			margin: 0 0 40px;
		}
	}
	.page-top__title {
		font-size: 50px;
		line-height: 58px;
		margin: 40px 0 0;
	}
	.page-description {
		&__image {
			margin-top: -100px;
		}
	}
	.page-subtitle {
		font-size: 42px;
		line-height: 56px;
	}
	.info {
		&__data {
			margin-top: 0;
		}
		&__map {
			width: 520px;
		}
		&__image {
			box-shadow: -20px 20px 0 $color-main-light;
		}
		&__image_right {
			box-shadow: 20px 20px 0 $color-main-light;
		}
	}
	.composition {
		margin-bottom: 120px;
		ul {
			font-weight: 500;
			column-gap: 40px;
		}
	}
	.content__carousel {
		margin-bottom: 120px;
	}
	.cards_type_column-2 .cards__item {
		width: calc(100% / 2 - 40px);
	}
	.cards {
		&__item {
			margin: 0 10px 20px;
		}
		&__blocks {
			margin: 0 -10px -20px;
		}
	}
	.item-list {
		&_type_reverce {
			.column:first-child {
				padding-right: 40px;
			}
			.item-list__text {
				margin-left: 0;
			}
		}
	}
	.icons-list {
		&__image {
			max-width: 70px;
		}
		&__image-shadow {
			width: 110px;
		}
		&__text {
			font-size: 18px;
			line-height: 24px;
		}
	}
	.project {
		&__item {
			width: calc(100% / 3 - 40px);
		}
	}
	.callback {
		&__form {
			box-shadow: 20px 20px 0 $color-main-light;
		}
	}
}

@media screen and (max-width: 1680px) and (min-width: 1200px) and (max-height: 840px) {
	.main {
		&__wrapper {
			min-height: 578px;
		}
		&__image {
			width: 900px;
		}
		&__text {
			padding-top: 80px;
		}
		&__detail {
			width: 600px;
		}
	}
	.content__section {
		padding: 124px 0 40px;
	}
	.home-services__title {
		margin: 0 0 70px;
	}
	.home-services__carousel-small {
		margin-bottom: 34px;
	}
	.result {
		&__inner {
			margin-top: 30px;
		}
		&__description {
			margin: 24px 0 30px;
		}
		&__number {
			font-size: 56px;
		}
		&__item-bottom p {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

@media screen and (max-width: 1680px) and (min-width: 1200px) and (max-height: 749px) {
	.header {
		&__wrapper {
			transform: none;
			opacity: 1;
			animation: none;
		}
	}
	.main {
		&__title {
			font-size: 58px;
		}
		&__wrapper {
			min-height: 490px;
		}
		&__text {
			padding-top: 50px;
		}
		&__image {
			width: 100%;
			object-fit: cover;
			height: 440px;
		}
		&__background-image {
			width: 900px;
		}
		&__detail {
			padding: 20px 40px;
		}
		&__description {
			margin: 0px 0 10px;
		}
		&__button {
			margin-top: 10px;
		}
		&::before {
			height: 100%;
			height: 100vh;
		}
	}
	.home-services {
		&__title {
			margin: 0 0 30px;
		}
	}
	.home-services {
		&__carousel-small {
			margin-bottom: 20px;
		}
		&__title {
			margin: 0 0 50px;
		}
	}
	.carousel-big {
		p {
			font-size: 16px;
			line-height: 24px;
			font-size: 14px;
			line-height: 22px;
		}
		&__wrapper-text p {
			height: 66px;
		}
		&__inner {
			padding: 15px 40px;
		}
	}
	.navigation {
		bottom: 18px;
	}
}

@media screen and (max-height: 669px) {
	.header_position_fixed {
		background-color: $color-main;
	}
	.header_color_duble .menu li a, .header_color_white .menu li a {
		color: $color-white;
	}
	.header_color_duble .header__phone {
		color: $color-white;
	}
	.content {
		&__section {
			position: relative;
			height: auto;
			transition: none;
			transform: none;
			padding: 124px 0 16px;
		}
	}
}

@media screen and (max-height: 629px) {
	.main {
		&__wrapper {
			min-height: 430px;
		}
		&__image {
			height: 380px;
		}
		&__title {
			font-size: 54px;
			line-height: 60px;
		}
	}
}

@media screen and (max-width: 1220px){
	.container{
		max-width: 992px;
	}
	.page-top {
		margin-bottom: 60px;
		&__header {
			background-color: transparent;
		}
		&__title {
			font-size: 48px;
			line-height: 56px;
			color: #00779f;
			padding-bottom: 25px;
			margin: 20px 0 0;
		}
	}
	.page-description {
		&__text {
			padding: 0;
		}
		&__image {
			margin-top: 0;
		}
	}
	.breadcrumbs__item {
		color: #8c8c8c;
	}
	.content {
		&__section {
			position: static;
			height: auto;
			transition: none;
			transform: none;
			padding-top: 80px;
		}
		&__carousel {
			margin-top: 80px;
			margin-bottom: 80px;
		}
		&__icons-list {
			margin-top: 100px;
		}
		&__projects-card {
			margin-top: 60px;
		}
		&__big-data {
			padding: 0;
			margin: 0;
		}
		&__item-list {
			margin-bottom: 80px;
		}
		&__uslugi {
			margin-top: 80px;
		}
	}
	.project {
		&__subtitle:not(:first-child) {
			margin-top: 80px;
		}
		&__title {
			font-size: 18px;
			line-height: 24px;
		}
	}
	.text-page {
		margin-bottom: 0;
		margin-top: 20px;
	}
	.header {
		&__wrapper {
			align-items: center;
			padding: 24px 0;
			transform: none;
			opacity: 1;
			animation: none;
		}
		&__phone {
			margin-left: 0;
		}
	}
	.header_color_white, .header_color_blue, .header_color_duble {
        background-color: $color-main;
		.header__phone {
            color: $color-white;
            &:after {
                background-color: $color-white;
            }
        }
	}
	.hamburger {
		display: inline-block;
	}
	.hamburger-menu {
		top: 88px;
		height: calc(100vh - 88px);
	}
	.menu {
        display: none;
        position: absolute;
        top: 100%;
        right: -16px;
        width: 453px;
        max-height: calc(100vh - 64px);
        overflow-y: auto;
        background: $color-main;
        border-top: 1px solid $color-white;
        box-shadow: 0px 18px 14px rgba(9,67,86,.1);
		outline: 1px solid #00779f;
		padding: 20px 0;
        li {
            &::after {
                display: none;
            }
            &.active {
                & > a {
                    color: $color-main-light;
                }
                & > .arrow {
                    background-color: $color-main-light;
                }
            }
			&.open {
				& > .menu__submenu-wrapper {
					display: block;
					color: $color-main-light;
					margin: 0;
					transition: none;
				}
            }
        }
        &__list {
            display: block;
            & > li {
                & > a {
                    color: $color-white;
                }
				a {
					line-height: 26px;
					padding: 5px 0 5px 16px;
                    &::after {
                        display: none;
                    }
                }
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
        .arrow {
            background-color: $color-white;
        }
        &__submenu-wrapper {
            position: static;
            display: none;
			width: 100%;
            box-shadow: none;
            padding: 0;
        }
        .menu__submenu-wrapper{
            opacity: 1;
            visibility: visible;
        }
        &.active {
            display: block;
        }
    }
    .submenu {
        margin-left: 0;
        padding: 10px 0;
        li {
            padding-right: 0;
            a {
                display: block;
				max-width: calc(100% - 55px);
				padding: 5px 0 5px 32px;
            }
            &:not(:last-child) {
                margin: 0;
            }
			&:hover {
				color: $color-main;
			}
        }
		& > .submenu {
			& .menu__submenu-wrapper, .submenu {
				padding: 0;
			}
		}
		& .submenu li {
			padding-left: 15px;
			padding-right: 15px;
			background: rgba(0, 182, 244, 0.059);
		}
    }
    li {
        position: relative;
    }
    .arrow {
        position: absolute;
        right: 16px;
        top: 2px;
        width: 32px;
        height: 32px;
        background-color: $color-white;
        mask-image: url('../images/arrow.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 10px;
        transform: rotate(90deg);
        transition: background-color .3s ease;
        cursor: pointer;
    }
    .open > .submenu {
        a {
            color: $color-main;
        }
    }
    .submenu-opening {
        & > .arrow {
            background-color: $color-main;
        }
        & > .menu__submenu-wrapper {
			position: static;
        }
    }
    &.home {
        .open > .submenu {
            a {
                color: $color-main;
            }
        }
        .submenu-opening {
            & > .arrow {
                background-color: $color-main;
            }
        }
		.menu {
			li {
				a {
					color: $color-white;
				}
			}
			&__submenu li a {
				color: $color-main;
			}
		}
    }
	.main {
		display: block;
		background: url('../images/main-photo-adaptiv2.jpg') center / cover no-repeat;
		&::before {
			display: none;
		}
		&__wrapper {
			display: block;
			min-height: auto;
		}
		&__info, &__background-image {
			opacity: 1;
			transform: none;
			animation: none;
		}
		&__subtitle {
			margin: 24px 0 3px;
			&::after {
				width: 353px;
				margin: 20px 0 0;
			}
		}
		&__info {
			display: block;
		}
		&__detail {
			display: block;
			font-weight: 600;
			background-color: transparent;
			padding: 15px 0;
		}
		&__detail-inner {
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			width: auto;
		}
		&__description {
			text-shadow: 0px 0px 0px #fff;
			margin: 0 0 15px;
		}
		&__button {
			flex-shrink: 0;
			margin-top: 0;
		}
		&__link {
			color: $color-white;
		}
		&__social {
			text-align: end;
			&::after {
				display: none;
			}
		}
		&__link {
			position: relative;
		}
		&__background-image {
			display: none;
		}
	}
	.result {
		overflow: hidden;
		&__inner {
			display: block;
		}
		&__block {
			display: flex;
			width: auto;
			height: auto;
			min-height: 182px;
			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 17px;
			}
		}
		&__item-top {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 204px;
			min-height: auto;
			flex-shrink: 0;
			padding: 12px 20px 20px;
			margin-right: 0;
		}
		&__text {
			font-size: 16px;
			line-height: 24px;
		}
		&__item-bottom {
			display: flex;
			align-items: center;
			margin: 0 0 0 10px;
			margin: 0;
		}
		&__number {
			font-size: 52px;
		}
	}
	.carousel-big {
		&__item {
			display: block;
		}
		&__inner {
			width: 100%;
		}
		&__wrapper-image {
			display: none;
		}
	}
	.home-services {
		&__title {
			margin-bottom: 40px;
		}
		&__wrapper-carousel-small {
			justify-content: center;
			width: 100%;
		}
	}
	.navigation {
		position: static;
		width: 100%;
		padding: 0;
		margin-top: 20px;
		&__loading {
			background: $color-main-light;
		}
	}
	.text-page__title {
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 20px;
	}
	.info {
		&__block {
			flex-direction: column;
			margin-top: 60px;
			& .column {
				width: 100%;
			}
			&:nth-child(2n) {
				& .column:first-child {
					order: 2;
				}
				& .column:last-child {
					order: 1;
				}
			}
			&_animate_onload {
				& .info__image, .info__text-wrapper {
					opacity: 1;
					transform: none;
					animation: none;
				}
			}
		}
		&__data {
			margin-top: 40px;
		}
		&__image {
			width: 640px;
			box-shadow: none;
		}
		&__map {
			width: 640px;
			margin-bottom: 40px;
		}
		&_type_project .info__block {
			.column {
				&:first-child {
					order: 1;
				}
				&:last-child {
					order: 2;
				}
			}
			.info__text-wrapper {
				margin-top: 40px;
			}
		}
		&__picture img {
			margin-left: 0;
		}
		&__button {
			margin-top: 16px;
		}
	}
	.column:nth-child(2n+1) > .info__image {
		margin-left: 0;
	}
	.column:nth-child(2n):not(.column_padding_not) > .info__text-wrapper {
		margin-left: 0;
	}
	.carousel__inner {
		flex-direction: column;
		& .column {
			width: 100%;
			&:first-child {
				order: 2;
				padding-right: 0;
			}
			&:last-child {
				order: 1;
			}
		}
	}
	.slider {
		margin-bottom: 40px;
		&__wrapper {
			display: block;
			padding: 0px 52px;
		}
		&__item {
			padding: 0 10px;
		}
		&__text {
			color: $color-white;
		}
		&__arrows {
			justify-content: space-between;
		}
		&__arrow {
			&_type_prev {
				background-size: 34px;
				margin-left: 0;
			}
			&_type_next {
				background-size: 34px;
				margin-right: 0;
			}
		}
		&__image {
			margin: 0 auto;
		}
	}
	#slider.slick-initialized .slider__image {
		padding: 0 20px;
	}
	.slider__text {
		position: static;
		display: block;
		font-size: 16px;
		margin: 14px auto 0;
		opacity: 1;
	}
	.icons-list {
		&__wrapper {
			margin-top: 60px;
		}
		&__block {
			margin-bottom: 60px;
		}
		&__image {
			max-width: 58px;
		}
		&__image-shadow {
			max-width: 93px;
		}
		&__text {
			font-size: 16px;
			line-height: 24px;
		}
		.icons-list + .projects {
			margin-top: 0;
		}
		&__button-wrapper {
			margin-bottom: 60px;
		}
		& + .projects, & + .callback {
			margin-top: 20px;
		}
		& + .faq {
			margin-top: 20px;
		}
	}
	.cards {
		&__item {
			width: calc(100% / 3 - 20px);
			padding: 20px 20px;
		}
		&__icon {
			width: 50px;
			height: 50px;
		}
	}
	.info-list {
		margin-top: 80px;
		&__item {
			margin-bottom: 60px;
		}
		&__icon {
			max-width: 58px;
		}
		&__icon-shadow {
			max-width: 93px;
		}
		&__subtitle::before {
			bottom: 18px;
			top: -32px;
		}
		&__text-wrapper {
			margin-top: 30px;
		}
		&__title {
			margin-bottom: 40px;
		}
		&_type_2 {
			.info-list__icon {
				max-width: 100%;
			}
			.info-list__text-wrapper {
				margin-top: 0;
			}
		}
		&_type_3 {
			.info-list__icon {
				max-width: 100%;
			}
			.info-list__text-wrapper {
				margin-top: 0;
			}
		}
	}
	.faq {
		margin-top: 80px;
		&__spoiler {
			margin: 0 auto 20px;
		}
		&__text {
			margin-top: 10px;
		}
		&__summary {
			font-size: 18px;
			&::before {
				background-size: 80%;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	.project + .callback {
		margin-top: 40px;
	}
	.item-list {
		margin-top: 60px;
		&__title {
			margin-top: 20px;
		}
		&__item:not(:last-child) {
			margin-bottom: 14px;
		}
		&__text {
			height: auto;
			box-shadow: -20px 20px 0 $color-main-light;
		}
		&__list {
			margin-left: 40px;
		}
		&__subtitle {
			font-size: 18px;
		}
		&__icon {
			width: 50px;
		}
		&_type_reverce {
			margin-bottom: 0;
			& .item-list {
				&__wrapper {

				}
				&__list {
					margin-left: 0;
				}
				&__text {
					box-shadow: 20px 20px 0 $color-main-light;
				}
			}
		}
		& + .callback {
			margin-top: 60px;
		}
	}
	.composition {
		margin-bottom: 80px;
		ul {
			column-count: 1;
		}
		li {
			margin-bottom: 10px;
		}
		&__blocks-wrapper {
			padding: 30px 0 20px;
		}
		&_type_icons {
			& .composition__blocks {
				justify-content: center;
				flex-wrap: wrap;
			}
			& .composition__image {
				margin-top: 20px;
			}
		}
	}
	.services-category + .composition {
		margin-bottom: 100px;
	}
	.price-block {
		padding: 30px;
		&__title {
			font-size: 18px;
		}
	}
	.partners {
		margin-top: 80px;
	}
	.services-category {
		&__icon {
			width: 78px;
		}
	}
	.footer {
		margin-top: 80px;
		&__wrapper {
			display: block;
		}
		&__menu {
			margin-top: 15px;
		}
		&__logo {
			margin-right: 0;
		}
	}
	.cards_type_column-2 {
		margin-bottom: 80px;
	}
	.page-description__list li {
		font-size: 19px;
	}
	.content__info {
		margin-bottom: 0;
	}
	.projects {
		&__block-title {
			font-size: 18px;
			line-height: 24px;
		}
		& + .projects {
			margin-top: 60px;
		}
		& + .callback {
			margin-top: 60px;
		}
	}
	.technologies {
		margin-top: 80px;
	}
	.project-page {
		& .projects {
			padding-top: 60px;
		}
		& .projects + .projects, .content__projects {
			padding-top: 60px;
		}
	}
	.callback {
		&__form {
			box-shadow: none;
		}
	}
	.daughter-pages {
		&__name {
			font-size: 18px;
			line-height: 26px;
		}
	}
}

@media screen and (max-width: 1012px){
	.container{
		max-width: 768px;
	}
	.content {
		&__projects {
			margin-top: 80px;
		}
		&__partners-logo {
			margin-top: 30px;
		}
	}
	.carousel-small {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		&__title {
			text-align: center;
		}
	}
	.text-page__title {
		font-size: 30px;
		line-height: 38px;
	}
	.home-services__title, .result__title {
		font-size: 40px;
		line-height: 56px;
	}
	.main__text {
		padding-top: 80px;
	}
	.result {
		&__inner {
			margin-top: 40px;
		}
		&__number {
			font-size: 48px;
			line-height: 54px;
		}
	}
	.page-top {
		&__title {
			font-size: 40px;
			line-height: 48px;
		}
	}
	.page-description {
		flex-direction: column;
		& .column {
			width: 100%;
			order: 2;
			padding: 0;
		}
		& .column_padding_not {
			order: 1;
		}
		&__text {
			padding-top: 20px;
		}
	}
	.page-subtitle {
		font-size: 30px;
		line-height: 42px;
		margin-bottom: 30px;
	}
	.cards {
		&__item {
			width: calc(100%/2 - 20px);
		}
	}
	.info-list {
		margin-top: 60px;
		&__item {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.partners {
		margin-top: 80px;
	}
	.composition {
		&__blocks-wrapper {
			margin-left: -20px;
		}
		&__block {
			padding: 0 20px;
		}
		&__icon {
			width: 54px;
		}
		&__image {
			width: 342px;
		}
		&__text {
			font-size: 16px;
			line-height: 20px;
		}
		&_type_icons {
			& .composition__blocks {
				display: block;
			}
			& .composition__image {
				margin: 20px auto -60px auto;
			}
		}
	}
	.faq__spoiler {
		width: 688px;
	}
	.technologies {
		margin-top: 60px;
		&__text {
			br {
				display: none;
			}
		}
	}
	.projects {
		&__block {
			margin: 0 -10px;
		}
		&__item {
			width: calc(100%/2 - 20px);
			margin: 10px;
			margin-top: 0;
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
		&__block-title {
			margin: 16px 0 8px;
		}
		&__text {
			font-size: 14px;
			line-height: 20px;
		}
	}
	.item-list {
		& .column {
			width: 100%;
		}
		&__wrapper {
			flex-direction: column;
		}
		&__text {
			max-width: 100%;
			width: 100%;
			box-shadow: none;
			margin-bottom: 40px;
		}
		&__list {
			margin-left: 0;
		}
		&_type_reverce {
			& .item-list {
				&__list {
					order: 2;
				}
				&__text-block {
					order: 1;
				}
				&__text {
					box-shadow: none;
				}
			}
		}
	}
	.callback {
		margin-top: 80px;
		margin-bottom: 20px;
	}
	.menu-footer {
		li {
			margin: 16px 8px 0;
		}
		&__submenu-wrapper {
			display: none;
		}
	}
	.cards_type_column-2 .cards__item {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.icons-list {
		&__block {
			width: calc(100%/2);
		}
		& + .icons-list {
			margin-top: 20px;
		}
	}
	.info__block > div:nth-child(1) {
		padding-right: 0;
	}
	.info {
		&__image {
			box-shadow: none;
			margin-left: 0;
		}
		&__image, .info__map {
			width: 100%;
		}
		&__data {
			margin-top: 24px;
			&::after {
				display: none;
			}
			&::before {
				font-weight: 600;
				font-size: 28px;
				line-height: 30px;
				text-transform: lowercase;
				opacity: 1;
				margin-left: 0;
			}
		}
	}
	.partners-logo {
		&__image {
			width: calc(25% - 40px);
		}
		& .page-subtitle {
			margin-bottom: 0;
		}
	}
	.project {
		&__item {
			width: calc(100%/2 - 20px);
			margin: 0 10px 40px;
		}
		&__wrapper {
			margin: 0 -10px;
		}
	}
	.footer {
		margin-top: 60px;
		&::before {
			display: none;
		}
		&__info {
			br {
				display: none;
			}
			&_position_right {
				text-align: center;
				margin-top: 14px;
				br {
					display: block;
				}
			}
		}
		&__wrapper {
			padding: 20px 0 20px;
		}
		&__image {
			display: block;
			margin: 0 auto;
		}
		&__menu {
			margin-top: 0;
		}
		&__bottom-wrapper {
			display: block;
			text-align: center;
		}
		&__bottom {
			line-height: 22px;
		}
		&__copyright {
			display: block;
			margin-bottom: 10px;
		}
		&__link {
			display: block;
		}
	}
	.menu-footer {
		font-size: 18px;
		&__list {
			justify-content: center;
			li a::after {
				display: none;
			}
		}
		li {
			margin-right: 8px;
			margin-left: 8px;
			&:not(:last-child) {
				margin-right: 8px;
			}
		}
	}
	.price-block {
		&__new-price {
			font-size: 44px;
			line-height: 56px;
		}
	}
	.daughter-pages {
		&__wrapper {
			
		}
		&__item {
			width: calc(100% / 2 - 40px);
		}
		&__image {
			
		}
	}
}

@media screen and (max-width: 788px){
	.container{
		max-width: 576px;
	}
	.header__phone-wrapper {
		display: none;
	}
	.menu {
		&__phone-wrapper {
			display: block;
			padding-left: 16px;
			margin-top: 16px;
		}
		&__phone {
			@include reset-link;
			color: $color-white;
		}
	}
	.hamburger {
		margin-left: 0;
	}
	.content {
		&__cards-business-card {
			margin-top: 80px;
		}
		&__icons-list + .content__icons-list {
			margin-top: 60px;
		}
		&__icons-list + .callback {
			margin-top: 60px;
		}
	}
	.main {
		&__title {
			font-size: 54px;
		}
	}
	.home-services {
		&__title {
			font-size: 36px;
			line-height: 46px;
		}
	}
	.result {
		&__title {
			font-size: 36px;
			line-height: 46px;
		}
	}
	.page-top {
		&__title {
			font-size: 36px;
			line-height: 42px;
			padding-bottom: 20px;
		}
	}
	.cards_type_text .cards {
		&__item {
			max-width: 100%;
			width: 100%;
			padding: 20px;
		}
	}
	.cards {
		&__item {
			width: 100%;
			margin: 0 0 20px;
		}
		&__blocks {
			margin: 0;
		}
	}
	.icons-list {
		&__wrapper {
			display: block;
			margin-bottom: 0;
		}
		&__block {
			display: flex;
			width: 100%;
			margin-bottom: 60px;
		}
		&__image-wrapper {
			margin-right: 30px;
		}
		&__image {
			max-width: 48px;
		}
		&__image-shadow {
			display: none;
		}
		&__text {
			text-align: start;
			margin: 0;
		}
		&__button-wrapper {
			margin-top: 40px;
		}
		& + .projects, & + .callback {
			margin-top: 80px;
		}
	}
	.services-category {
		&__blocks {
			display: block;
		}
		&__item {
			width: 100%;
			margin-bottom: 20px;
		}
		&__icon {
			width: 68px;
		}
	}
	.info-list {
		&__icon-wrapper {
			padding-right: 16px;
		}
	}
	.technologies__text br {
		display: none;
	}
	.faq {
		&__wrapper {
			padding: 40px;
		}
		&__spoiler {
			width: 100%;
		}
		&__summary {
			font-size: 16px;
		}
		&__text {
			font-weight: 400;
			font-size: 15px;
		}
	}
	.callback {
		&__form {
			width: 496px;
			padding: 40px;
		}
	}
	.carousel-big {
		background-color: transparent;
		&__inner {
			padding: 24px 0;
		}
		&__button {
			margin-top: 16px;
		}
	}
	.carousel-small {
		padding: 0;
		&__title {
			display: none;
		}
		&__item {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.home-services__carousel-small {
		margin-bottom: 0;
	}
	.navigation {
		margin-top: 0;
	}
	.slider__item img {
		margin: 0 auto;
	}
	.partners {
		&__text {
			opacity: 1;
		}
		&__slider {
			padding: 0 34px;
		}
	}
	.project {
		&__title {
			font-size: 16px;
			line-height: 22px;
		}
	}
	.projects {
		&__image {
			margin: 0 auto;
		}
	}
	.composition {
		&__blocks {
			display: block;
		}
		ul {
			font-size: 17px;
			line-height: 24px;
			padding-right: 0;
		}
		&__image {
			margin-top: 0;
		}
	}
	.price-block {
		align-items: center;
		&__wrapper-price {
			margin-top: 0;
		}
		&__title {
			text-align: center;
			width: 100%;
			margin-bottom: 18px;
		}
		&__new-price {
			font-size: 36px;
			line-height: 44px;
		}
	}
	.daughter-pages {
		&__wrapper {
			display: block;
			margin: 0;
		}
		&__item {
			width: 100%;
			margin: 0 0 30px 0;
		}
		&__image {
			margin: 0 auto 16px;
		}
	}
}

@media screen and (max-width: 596px){
	.container{
		max-width: 100%;
		padding: 0 20px;
	}
	.content {
		&__section {
			padding-top: 60px;
		}
		&__carousel {
			margin-top: 60px;
			margin-bottom: 60px;
		}
		&__icons-list {
			margin-top: 60px;
		}
		&__item-list {
			margin-bottom: 60px;
		}
		&__projects {
			margin-top: 60px;
		}
		&__composition {
			margin-top: 60px;
		}
		&__uslugi {
			margin-top: 60px;
		}
	}
	.page-subtitle {
		font-size: 22px;
		line-height: 30px;
		& + .info__block {
			margin-top: 30px;
		}
	}
	.text-page {
		margin-bottom: 0;
		&__title {
			font-size: 24px;
			line-height: 34px;
			word-wrap: break-word;
			margin-bottom: 20px;
		}
		& p {
			padding-left: 0 !important;
		}
	}
	.callback, .faq, .item-list__title {
		margin-top: 60px;
	}
	.main__detail-inner {
		width: 340px;
	}
	.result {
		padding-bottom: 0;
		&__block {
			display: block;
		}
		&__item-top {
			width: auto;
		}
		&__item-bottom {
			background-color: transparent;
			padding-left: 0;
			padding-right: 0;
			p {
				color: $color-main;
			}
		}
	}
	.info-list {
		margin-top: 40px;
		&__text-wrapper {
			margin-top: 0;
		}
		&__item {
			padding-right: 0;
		}
		&__icon {
			position: static;
			max-width: 48px;
		}
		&__icon-shadow {
			display: none;
		}
		&__title {
			margin-bottom: 40px;
		}
		&__subtitle::before {
			display: none;
		}
	}
	.item-list {
		&__subtitle {
			font-size: 16px;
		}
		&__text {
			box-shadow: none;
		}
		&_type_reverce .item-list__wrapper .item-list__text {
			box-shadow: none;
		}
	}
	.info {
		&__image, .info__map {
			width: 100%;
		}
		&__data {
			margin-bottom: 10px;
			&::before {
				font-size: 24px;
				line-height: 26px;
			}
		}
	}
	.composition li {
		font-size: 16px;
	}
	.icons-list {
		&__wrapper {
			margin-top: 30px;
		}
		&__block {
			width: 100%;
		}
		&__image-shadow {
			display: none;
		}
		& + .projects, & + .callback {
			margin-top: 60px;
		}
	}
	.partners {
		margin-top: 30px;
	}
	.projects + .projects {
		margin-top: 40px;
	}
	.projects {
		&__item {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		&__block {
			margin: 0;
		}
	}
	.cards_type_column-2 {
		margin-bottom: 60px;
	}
	.carousel-small__item img {
		margin: 0;
	}
	.page-description {
		&__list {
			li {
				font-size: 16px;
				line-height: 24px;
			}
		}
		li, strong {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.faq {
		&__wrapper {
			padding: 20px;
		}
	}
	.callback {
		&__form {
			width: 100%;
			padding: 40px;
		}
	}
	.slider {
		margin-bottom: 20px;
		&__wrapper {
			margin-top: 0;
			height: auto;
		}
	}
	.slick-list {
		height: auto;
	}
	.slick-slide img {
		margin: 0 auto;
	}
	.partners-logo {
		&__image {
			width: calc(100% / 3 - 40px);
		}
	}
	.technologies {
		&__text {
			padding: 0 40px;
		}
	}
	.project-page {
		& .projects {
			padding-top: 40px;
		}
		& .projects + .projects, .content__projects {
			padding-top: 40px;
		}
	}
	.project {
		&__subtitle:not(:first-child) {
			margin-top: 60px;
		}
		&__wrapper {
			display: block;
		}
		&__item {
			display: block;
			width: 100%;
			max-width: 426px;
			margin: 0 auto 35px auto;
		}
		&__image {
			margin: 0 auto;
		}
	}
	.price-block {
		padding: 20px;
		&__button {
			padding: 5px 36px;
		}
		&__new-price {
			font-size: 30px;
			line-height: 38px;
		}
	}
}

@media screen and (max-width: 460px) {
	.header__wrapper {
		padding: 12px 0;
	}
	.menu {
		right: -20px;
		width: calc(100% + 40px);
		outline: none;
		margin: 0;
	}
	.arrow {
		right: 20px;
	}
	.text-page__title {
		font-size: 18px;
		line-height: 24px;
	}
	.page-top {
		&__title {
			font-size: 26px;
			line-height: 32px;
		}
	}
	.main {
		&__title {
			font-size: 36px;
			line-height: 40px;
		}
		&__subtitle {
			font-size: 18px;
			&::after {
				margin-top: 10px;
				width: 124px;
			}
			br {
				display: none;
			}
		}
		&__detail {
			padding-top: 10px;
		}
		&__social {
			margin-top: 15px;
		}
	}
	.home-services__title, .result__title {
		font-size: 26px;
		line-height: 36px;
	}
	.content__section {
		padding-bottom: 20px;
		padding-top: 40px;
	}
	.carousel-big {
		&__title {
			font-size: 18px;
		}
		&__button {
			margin-top: 24px;
		}
	}
	.carousel-small__item {
		width: 100%;
	}
	.navigation {
		flex-wrap: wrap;
		margin-top: 0;
		&__numbers {
			order: 2;
		}
		&__line {
			margin-left: 0;
			margin-right: 0;
			order: 1;
			width: 100%;
		}
		&__arrows {
			order: 3;
		}
	}
	.carousel__inner {
		padding: 20px 0;
	}
	.result {
		&__item-bottom {
			padding-left: 20px;
			padding-right: 20px;
			margin: 0 -20px;
		}
		&__item-top {
			margin: 0 -20px;
		}
	}
	.form_type_modal {
		padding: 20px;
	}
	.main__detail-inner {
		width: 310px;
	}
	.info-list {
		&__icon {
			position: static;
			max-width: 40px;
		}
		&__icon-shadow {
			display: none;
		}
	}
	.carousel__descr p {
		font-size: 14px;
		line-height: 20px;
	}
	.text-block p:not([class]) {
		margin: 0 0 10px;
	}
	.button {
		padding: 5px 36px;
		margin-top: 10px;
	}
	.slider {
		&__wrapper {
			padding: 0;
			width: 100%;
		}
		&__arrows {
			position: static;
			justify-content: center;
			transform: translateY(0);
			margin-top: 10px;
		}
		&__text {
			font-size: 16px;
			line-height: 22px;
		}
		&__item {
			padding: 0;
		}
	}
	.icons-list {
		&__block {
			margin-bottom: 30px;
		}
		&__image-wrapper {
			margin-right: 16px;
		}
		&__image {
			max-width: 40px;
		}
		& + .faq {
			margin-top: 60px;
		}
	}
	.callback__form {
		padding: 20px;
	}
	.form {
		&__title {
			font-size: 16px;
		}
		&__input {
			margin: 0 0 14px;
		}
		&__button {
			margin: 30px 0 0;
		}
	}
	.item-list {
		&__text {
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 20px;
			padding: 20px;
		}
		&__icon {
			width: 40px;
			margin-right: 14px;
		}
	}
	.column:nth-child(2n+1) {
		padding-right: 20px;
	}
	.composition {
		ul {
			padding: 20px 0;
			margin-right: 0;
		}
		&__blocks-wrapper {
			display: block;
			margin-left: 0;
		}
		&__block {
			padding: 0;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__icon {
			width: 44px;
			margin: 0 auto 14px;
		}
	}
	.services-category {
		&__subtitle {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.price-block {
		&__title {
			margin-bottom: 8px;
		}
		&__text {
			font-size: 22px;
		}
	}
	.technologies {
		padding: 20px 0;
		&__text {
			font-size: 18px;
			line-height: 24px;
		}
		&__button {
			margin-top: 20px;
		}
	}
	.cards {
		&__subtitle {
			font-size: 16px;
		}
		&_type_column-2 .cards__subtitle {
			margin-left: 0;
		}
	}
	[data-src^="#modal-vacancy"] {
		margin: 0 0 24px;
		.cards__icon {
			display: none;
		}
	}
	.modal-vacancy {
		padding: 48px 14px;
	}
	.form-vacancy {
		padding: 48px 14px;
		&__file-wrapper {
			display: block;
		}
		&__file-text {
			display: block;
		}
	}
	.fancybox-slide--html .fancybox-close-small {
		top: 8px;
	}
	.info {
		&__map {
			height: 250px;
		}
		&__data {
			&::before {
				font-size: 22px;
			}
		}
	}
	.footer {
		&__info_position_right {
			br {
				display: block;
			}
		}
	}
	.project {
		&__item {
			width: 100%;
			margin: 0 0 35px 0;
		}
		&__wrapper {
			margin: 0;
		}
		&__title {
			font-size: 16px;
			line-height: 24px;
			margin-top: 12px;
		}
		&__image-wrapper {
			margin: 0;
			&::after, &::before {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 380px) {
	.partners-logo__image {
		width: calc(50% - 40px);
	}
}