// размеры шрифтов
$size_extra-big: 30px;
$size_big: 18px;
$size_main: 16px;
$size_small: 14px;

//
$color-black: #1C3E53;
$color-white: #fff;
// 
$color-main-light: #EBF7FF;
$color-main: #3A82E0;
$color-gray: #E0E0E0;
$color-green: #4EAD92;
