@import "_variables";
@import "_mixins";
@import "_keyframes";
@import "_fonts";
// @import "../lib/libs/slick-carousel/slick/slick.scss";

@import "blocks/menu";
@import "blocks/header";
@import "blocks/button";
@import "blocks/breadcrumbs";
@import "blocks/form";
@import "blocks/footer";

html, body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	text-size-adjust: none;
	font-size: 18px;
	line-height: 24px;
	background-color: $color-white;
	color: $color-black;
	position: relative;
}
* {
	box-sizing: border-box;
}
img {
	border: none;
	max-width: 100%;
}
button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&:focus,
	&:active{
		outline: 0px solid transparent;
	}
}
picture {
	display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input.error {
	box-shadow: 0 0 2px 1px red;
}

#workemail{
	display: none;
}

.container {
	margin: 0 auto;
	width: 100%;
	min-width: 320px;
	max-width: 1250px;
	padding: 0 40px;	
}

.wrapper {
	min-height: 100vh;
	min-height: calc(var(--vh) * 100);
	display: flex;
	flex-direction: column;
}

.text-block {
	p:not([class]) {
		margin: 0 0 16px 0;
	}
	ul:not([class]) {
		@include reset-list;
	}
}
.select-language {
	position: relative;
	color: $color-main;
	&__title {
		@include reset-button;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		&::before {
			display: block;
			width: 16px;
			height: 16px;
			content: '';
			background: url('../images/ru.svg') center no-repeat;
			margin-right: 8px;
		}
		&::after {
			display: block;
			width: 12px;
			height: 16px;
			content: '';
			background: url('../images/arrow-down.svg') center no-repeat;
			margin-left: 8px;
		}
	}
	&__list {
		@include reset-list;
		position: absolute;
		top: 20px;
		right: 0;
		left: 16px;
		min-width: 100px;
		white-space: nowrap;
		background-color: $color-white;
		border: 1px solid $color-main;
		padding: 0;
		opacity: 0;
		transition: opacity .1s ease;
		&.active {
			opacity: 1;
		}
	}
	&__item {
		padding: 4px 6px;
		cursor: pointer;
		transition: color .1s ease, background-color .1s ease;
		&:hover {
			background-color: $color-main-light;
			color: $color-black;
		}
	}
}





/* ПОДКЛЮЧЕНИЕ СТИЛЕЙ АДАПТИВА */
@import "_response";
/* НИЖЕ СТЕЛЕЙ НЕ ДОЛЖНО БЫТЬ!!! */