@import "_variables";
@import "_mixins";
@import "_keyframes";
@import "_fonts";
// @import "../lib/libs/slick-carousel/slick/slick.scss";

@import "blocks/menu";
@import "blocks/header";
@import "blocks/button";
@import "blocks/page-top";
@import "blocks/breadcrumbs";
@import "blocks/form";
@import "blocks/footer";

html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	text-size-adjust: none;
	background-color: $color-white;
	color: $color-black;
	position: relative;
}
* {
	box-sizing: border-box;
}
img {
	border: none;
	max-width: 100%;
}
button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&:focus,
	&:active{
		outline: 0px solid transparent;
	}
}
picture {
	display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input.error {
	box-shadow: 0 0 2px 1px red;
}

#workemail{
	display: none;
}

.container {
	margin: 0 auto;
	width: 100%;
	min-width: 320px;
	max-width: 1440px;
	padding: 0 40px;	
}

.wrapper {
	min-height: 100vh;
	min-height: calc(var(--vh) * 100);
	display: flex;
	flex-direction: column;
}

.column {
	width: 50%;
	&:nth-child(odd) {
		padding-right: 40px;
		& > .info__image {
			margin-left: 40px;
		}
	}
	&:nth-child(even):not(.column_padding_not) {
		padding-left: 40px;
		padding-left: 0;
		& > .info__text-wrapper {
			margin-left: 40px;
		}
	}
	&_padding_not {
		padding-right: 0;
	}
}

.text-block {
	p:not([class]) {
		margin: 0 0 16px 0;
	}
	ul:not([class]) {
		@include reset-list;
	}
	p:nth-last-child(1) {
		margin: 0;
	}
	&__big-data {
		margin-top: 40px;
	}	
}

.page-subtitle {
	font-weight: bold;
	font-size: 48px;
	line-height: 66px;
	text-transform: uppercase;
	color: $color-main;
	margin: 0;
	& + .info__block {
		margin-top: 40px;
	}
}

.content {
	position: relative;
	z-index: 0;
	flex-grow: 1;
	&__wrapper {
		position: relative;
		z-index: 0;
		overflow: hidden;
	}
	&__section {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transform: translateY(100%);
		height: 100vh;
		transition: all .8s ease;
		padding: 144px 0 40px 0;
		overflow: hidden;
		&_type {
			&_main {
				z-index: 1;
			}
			&_services {
				z-index: 2;
			}
			&_result {
				z-index: 3;
			}
			&_display {
				transform: translateY(0);
			}
		}
	}
	&__about-us {
		
	}
	&__carousel {
		margin-top: 160px;
		margin-bottom: 160px;
	}
	&__info-list {
		
	}
	&__how-works {
		margin-top: 120px;
	}
	&__big-data {
		padding-bottom: 40px;
		margin-bottom: 40px;
	}
	&__info {
		margin-bottom: 40px;
	}
	&__composition {
		margin-top: 80px;
	}
	&__projects {
		margin-top: 100px;
	}
	&__projects-card {
		margin-top: 120px;
	}
	&__item-list {
		margin-bottom: 120px;
	}
	&__cards-business-card {
		margin-top: 120px;
	}
	&__icons-list {
		margin-top: 120px;
	}
	&__icons-list + .content__icons-list {
		margin-top: 120px;
	}
	&__partners-logo {
		margin-top: 40px;
	}
	&__uslugi {
		margin-top: 133px;
	}
}

.main {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: $color-white;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: calc((100% - 1440px) / 2 + 552px);
		background-color: $color-main;
		z-index: 0;
	}
	&__wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		width: 100%;
		min-height: 678px;
	}
	&__info {
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		opacity: 0;
		transform: translateX(-80px);
		animation: shiftMainInfo 1.5s ease-out forwards;
	}
	&__text {
		padding-top: 130px;
	}
	&__title {
		font-weight: 700;
		font-size: 72px;
		line-height: 88px;
		color: $color-white;
		margin: 0;
	}
	&__subtitle {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-white;
		margin: 24px 0 32px 0;
		&::after {
			flex-shrink: 0;
			content: '';
			display: block;
			width: 187px;
			height: 1px;
			background: $color-white;
			margin: 32px 0 24px 0;
		}
	}
	&__detail {
		display: flex;
		justify-content: flex-end;
		max-width: 720px;
		width: 680px;
		background-color: $color-main-light;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-white;
		padding: 40px;
		&-inner {
			width: 340px;
		}
	}
	&__description {
		margin: 0 0 24px 0;
	}
	&__photo {
		position: absolute;
		z-index: 5;
		top: 0;
		right: 0;
	}
	&__background-image {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		transform: translateX(80px);
		animation: shiftMainImg 1.5s ease-out forwards;
		video {
			max-width: 100%;
			width: 1061px;
			height: 59vh;
			max-height: 597px;
			object-fit: cover;
			filter: brightness(.8);
		}
	}
	&__image {
		display: block;
	}
	&__social {
		align-self: flex-end;
		&::after {
			flex-shrink: 0;
			content: '';
			display: block;
			height: 1px;
			background: $color-main;
			margin-top: 16px;
		}
	}
	&__link {
		@include reset-link;
		position: relative;
		display: inline-block;
		padding-left: 40px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: $color-black;
		transition: color .3s ease;
		&::before {
			position: absolute;
			left: 0;
			display: inline-block;
			content: '';
			width: 24px;
			height: 24px;
			background: url('../images/facebook-icon.svg') no-repeat;
		}
		&:hover {
			color: $color-main-light;
		}
	}
}

.home-services {
	display: flex;
	align-items: center;
	background-color: $color-main;
	&__wrapper {
		overflow: hidden;
	}
	&__title {
		font-weight: bold;
		font-size: 48px;
		line-height: 66px;
		color: $color-white;
		margin: 0 0 96px 0;
	}
	&__carousel-small {
		margin-bottom: 40px;
	}
	&__wrapper-carousel-small {
		display: flex;
		justify-content: flex-end;
		width: 624px;
		margin-left: auto;
		overflow: hidden;


	}
	&__wrapper-carousel-big {
		position: relative;
	}
}

.slick-slide {
	outline: none;
}

.carousel-small {
	width: 624px + 272px + 40px;
	margin-left: -20px;
	margin-right: -20px;
	&__item {
		margin-left: 20px;
		margin-right: 20px;
	}
	&__image {
		margin: 0 auto;
	}
	&__title {
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		color: $color-white;
		margin: 16px 0 0 0;
		text-transform: uppercase;
	}
}


.carousel-big {
	position: relative;
	z-index: 1;
	background-color: $color-main-light;
	& .slick-track {
		display: flex;
	}
	& .slick-list {
		overflow: inherit;
	}
	& .slick-slide {
		height: inherit;
	}
	&__item {
		display: flex;
	}
	&__image-block {
		position: absolute;
		right: 0;
		bottom: 0;
		overflow: hidden;
		height: 0;
		width: calc(100% - 40px);
		transition: height .8s linear;
		&.hidden{
			bottom: 0;
			height: 0;
		}
		&.visible{
			top: -441px;
			bottom: inherit;
			height: 441px;
			& .carousel-big__image {
				bottom: inherit;
				top: 0;
			}
		}
	}
	&__wrapper-image {
		position: relative;
		width: 50%;
		height: 0;
		align-self: flex-end;
		margin-bottom: 96px;
	}
	&__image {
		display: block;
	}
	&__inner {
		position: relative;
		width: 50%;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-white;
		padding: 24px 40px;
	}
	&__wrapper-text {
		color: $color-white;
		p {
			height: 72px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;		
		}
	}
	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-white;
		text-transform: uppercase;
		margin: 0 0 8px 0;
		span {
			display: none;
		}
	}
	p {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		overflow: hidden;
	}
	&__button {

	}
}

.navigation {
	position: absolute;
	bottom: 24px;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	width: 50%;
	padding-left: 40px;
	&__numbers {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-white;
	}
	&__number {
		min-width: 22px;
	}
	&__delimiter {
		&::after {
			content: '';
			display: block;
			width: 1px;
			height: 12px;
			background: $color-white;
			margin: 0 16px;
		}
	}
	&__line {
		flex-grow: 1;
		height: 1px;
		background: $color-white;
		border-radius: 1px;
		margin: 16px 35px 15px 16px;
	}
	&__main-line {

	}
	&__loading {
		height: 1px;
		border-radius: 1px;
		background: $color-main;
		width: 100%;
		transform: scaleX(0);
		transform-origin: left;
		&.start {
			animation: loading 4s linear;
			animation-play-state: running;
		}
		&.paused{
			animation-play-state: paused;
		}
	}
	
	&__arrows {
		display: flex;
		justify-content: flex-end;
	}
	
	&__arrow {
		width: 32px;
		height: 32px;
		border: none;
		cursor: pointer;
		&_type_prev {
			display: block;
			background: url('../images/arrow-prev.svg') center no-repeat;
			margin-right: 16px;
		}
		&_type_next {
			display: block;
			background: url('../images/arrow-next.svg') center no-repeat;
		}
	}
}

.result {
	display: flex;
	align-items: center;
	background-color: $color-white;
	&__title {
		font-weight: bold;
		font-size: 48px;
		line-height: 66px;
		color: $color-main;
		margin: 0 0 24px 0;
	}
	&__description {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-main;
		margin: 24px 0 56px 0;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		margin-top: 56px;
	}
	&__block {
		width: 417px;
		height: 316px;
		&:not(:last-child) {
			margin-right: 54px;
		}
	}
	&__item-top {
		min-height: 183px;
		background-color: $color-main;
		padding: 12px 16px 39px 16px;
		margin-right: 76px;
	}
	&__number {
		display: block;
		font-weight: bold;
		font-size: 64px;
		line-height: 72px;
		color: $color-white;
	}
	&__unit {
		font-size: 36px;
	}
	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-white;
		margin: 0;
	}
	&__item-bottom {
		background-color: $color-main-light;
		padding: 20px 24px;
		margin: -27px 0 0 10px;
		p {
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: $color-white;
		}
	}
}

.info {
	&__block {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 120px;
	}
	&__image {
		display: block;
		box-shadow: -40px 40px 0 $color-main-light;
		margin-left: 40px;
		&_right {
			box-shadow: 40px 40px 0 $color-main-light;
			margin-left: 0;
			margin-right: 40px;
		}
	}
	&__text-wrapper {

		p, li {
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: $color-main;
		}
	}
	&__subtitle {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-main;
		margin-bottom: 16px;
	}
	&__data {
		position: relative;
		margin-top: 40px;
		margin-bottom: 16px;
		&:before {
			content: attr(data-value);
			font-weight: bold;
			font-size: 48px;
			line-height: 66px;
			text-transform: uppercase;
			color: $color-main;
			opacity: 0.1;
			margin-left: 8px;
		}
		&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: attr(data-value);
			font-weight: 600;
			font-size: 20px;
			line-height: 28px;
			color: $color-main;
		}
	}
	&__button {
		margin-top: 24px;
	}
	&__map {
		width: 640px;
		height: 354px;
		background-color: #F2EDE8;
	}
}


.carousel {
	background-color: $color-main;
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 40px 0;
	}
	&__descr {
		p {
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: $color-white;
		}
	}
	&__button {
		margin-top: 24px;
	}
}

.slider{
	position: relative;
	height: 100%;
	&__wrapper {
		display: flex;
		height: 100%;
	}
	&__item{
		&.carousel-center{
			& .slider__text{
				opacity: 1;
			}
		}
	}
	&__image{
		display: block;
		margin: 0 auto;
	}
	&__text{
		@include reset-link;
		position: absolute;
		bottom: -28px - 16px;
		left: 0;
		right: 0;
		text-align: center;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-main;
		opacity: 0;
		transition: opacity .8s ease;
	}
	&__arrows {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		transform: translateY(-50%);
	}
	&__arrow {
		@include reset-button;
		width: 40px;
		height: 40px;
		cursor: pointer;
		&_type_prev {
			display: block;
			background: url('../images/arrow-prev-slider.svg') center no-repeat;
			margin-right: 16px;
		}
		&_type_next {
			display: block;
			background: url('../images/arrow-next-slider.svg') center no-repeat;
			margin-left: 16px;
		}
	}
}

.icons-list {
	&__title {
		font-weight: bold;
		font-size: 48px;
		line-height: 66px;
		text-transform: uppercase;
		color: $color-main;
		margin: 0;
	}
	&__wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-top: 112px;
	}
	&__block {
		width: calc(100% / 3);
		text-align: center;
		padding: 0 20px;
		margin-bottom: 96px;
	}
	&__image-wrapper {
		position: relative;
		display: inline-block;
		flex-shrink: 0;
	}
	&__image {
		display: block;
	}
	&__image-shadow {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		max-width: none;
	}
	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-main;
		margin: 24px 0 0 0;
	}
	&__button-wrapper {
		margin: -16px auto 0 auto;
	}
	&__button {
		margin-top: 0;
	}
	& + .projects, & + .callback {
		margin-top: 24px;
	}
	& + .faq {
		margin-top: 24px;
	}
	& + .icons-list {
		margin-top: 24px;
	}
}

.cards {
	&__title {
		margin: 0 0 40px 0;
	}
	&__blocks {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 0 -20px -40px -20px;
	}
	&__item {
		@include reset-link;
		align-self: stretch;
		width: calc(100% / 3 - 40px);
		background: $color-white;
		outline: 1px solid #CECECE;
		padding: 32px 40px;
		margin: 0 20px 40px;
		transition: all .3s ease;
		&:hover {
			outline-color: $color-white;
			box-shadow: 0px 0px 25px rgba(9, 67, 86, 0.15);
		}
	}
	&__wrapper-top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__icon {
		flex-shrink: 0;
		width: 64px;
		height: 64px;
	}
	&__cost {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-main;
	}
	&__subtitle {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color:$color-main-light;
		margin: 16px 0 4px 0;
	}
	&__description {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-main;
	}
	&_type_column-2 {
		margin-bottom: 96px;
		& .cards__blocks {
			justify-content: space-between;
		}
		& .cards__item {
			display: flex;
			align-items: center;
			width: 50%;
			max-width: 660px;
			margin: 0 20px 24px 20px;
			cursor: pointer;
		}
		& .cards__subtitle {
			display: inline;
			margin-left: 40px;
		}
	}
	&_type_text {
		& .cards__item {
			outline: 1px solid $color-main-light;
			padding: 32px;
			&:hover {
				box-shadow: none;
			}
		}
		& .cards__subtitle {
			color: $color-main;
			margin-top: 0;
			margin-bottom: 16px;
		}
	}
}

.info-list {
	margin-top: 120px;
	&__title {
		margin: 0 0 78px 0;
	}
	&__blocks {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		counter-reset: number;
	}
	&__item {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 50%;
		padding-right: 48px;
		margin-bottom: 80px;
	}
	&__icon-wrapper {
		position: relative;
		display: inline-block;
		flex-shrink: 0;
		padding-right: 32px;
	}
	&__icon {
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
	}
	&__icon-shadow {
		display: block;
		max-width: none;
	}
	&__text-wrapper {
	}
	&__subtitle {
		position: relative;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-main;
		margin: 0 0 16px 0;
		&::before {
			counter-increment: number;
			content: counter(number);
			position: absolute;
			top: -38px;
			left: 0;
			font-weight: bold;
			font-size: 48px;
			line-height: 66px;
			color: $color-main;
			opacity: 0.1;
		}
	}
	&__description {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color:$color-main;
	}
	&_type_2 {
		.info-list__icon-shadow {
			display: none;
		}
		.info-list__icon {
			position: static;
			margin-top: -21px;
		}
		.info-list__item:nth-child(-n+5) {
			.info-list__subtitle::before {
				display: none;
			}
		}
		.info-list__item:nth-child(5) {
			.info-list__icon {
				margin-top: 0;
			}
		} 
	}
	&_type_3 {
		.info-list__icon-shadow {
			display: none;
		}
		.info-list__subtitle {
			margin: 4px 0 16px;
			&::before {
				display: none;
			}
		}
		.info-list__icon-wrapper {
			position: relative;
			padding-right: 0;
			margin-right: 32px;
			margin-top: 10px;
			&::before {
				counter-increment: number;
				content: counter(number);
				position: absolute;
				top: -10px;
				right: -10px;
				display: block;
				width: 30px;
				height: 30px;
				text-align: center;
				font-weight: 600;
				font-size: 20px;
				line-height: 28px;
				color: $color-white;
				background-color: $color-main;
				border-radius: 50%;
			}
		}
		.info-list__icon {
			position: static;
		}
	}
}

.partners {
	margin-top: 40px;
	&__title {
		margin: 0 0 40px 0;
	}
	&__wrapper {
		background-color: $color-main;
		
	}
	&__slider-wrapper {
		position: relative;
		padding: 40px 0;
	}
	&__slider {
		padding: 0 56px;
		margin: 0 -9.5px;
		& .slick-arrow {
			@include reset-button;
			position: absolute;
			top: calc(50% - 20px);
			z-index: 1;
			display: flex;
			justify-content: space-between;
			width: 40px;
			height: 40px;
			font-size: 0;
			cursor: pointer;
			&.slick-prev {
				display: block;
				left: 0;
				background: url('../images/arrow-prev-dark-blue.svg') center no-repeat;

			}
			&.slick-next {
				display: block;
				right: 0;
				background: url('../images/arrow-next-dark-blue.svg') center no-repeat;
			}
		}
	}
	&__item {
		text-align: center;
		background-color: $color-white;
		margin: 0 9.5px;
		&:hover {
			.partners__text {
				opacity: 1;
	
			}
		}
	}
	a {
		cursor: pointer;
	}
	&__link {
		@include reset-link;
		position: relative;
		display: block;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-white;
		transition: all .8s ease;
		padding: 40px 0;
	}
	&__text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50%;
		padding: 34px 0 8px 0;
		display: inline-block;
		background: linear-gradient(0.95deg, rgba(0, 119, 159, 0.8) 0.85%, rgba(0, 119, 159, 0) 99.23%);
		opacity: 0;
		transition: all .3s ease;
	}
	&__icon {
		margin: 0 auto;
	}
}

.faq {
	margin-top: 120px;
	&__title {
		margin: 0 0 40px 0;
	}
	&__wrapper {
		background-color: $color-main;
		padding: 40px 0;
	}
	&__spoiler {
		width: 784px;
		margin: 0 auto 32px auto;
		&:last-child {
			margin-bottom: 0;
		}	
		&[open] {
			.faq__text {
				opacity: 1;
			}
			.faq__summary::before {
				content: '';
				display: block;
				width: 18px;
				height: 18px;
				bottom: 0;
				top: 5px;
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L1.206 4.5h15.588L9 18z' fill='%23fff'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	&__summary {
		position: relative;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-white;
		padding-left: 26px;
		cursor: pointer;
		outline: none;
		list-style: none;
		&::-webkit-details-marker {
			display: none
		}
		&::before {
			display: block;
			position: absolute;
			left: 0;
			top: 5px;
			content: '';
			width: 18px;
			height: 18px;
			background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 9L4.5 16.794V1.206L18 9z' fill='%23fff'/%3E%3C/svg%3E");
		}
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-white;
		padding-left: 26px;
		margin-top: 16px;
		opacity: 0;
		transition: all .8s ease;
	}
}

.callback {
	margin: 120px 0 40px 0;
	&__title {
		margin: 0 0 40px 0;
	}
	&__form {
		margin: 0 auto;
	}
}


.services-category {
	&__title {
		margin: 0 0 40px 0;
	}
	&__blocks {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
		padding-right: 40px;
		margin-bottom: 40px;
	}
	&__icon {
		flex-shrink: 0;
		padding-right: 24px;
	}
	&__subtitle {
		font-weight: 600;
		font-size: 19px;
		line-height: 28px;
		color: $color-main;
		margin: 0;
	}
}

.composition {
	margin-bottom: 160px;
	&_type_icons {

	}
	&__title {
		margin: 0 0 40px 0;
	}
	&__wrapper {
		background-color: $color-main;
	}
	ul {
		@include reset-list;
		column-count: 2;
		column-gap: 80px;
		font-weight: 600;
		font-size: 19px;
		line-height: 28px;
		color: $color-white;
		padding: 40px 0;
		padding-right: 10px;
	}
	li {
		position: relative;
		break-inside: avoid-column;
		break-inside: avoid;
		margin-bottom: 24px;
		padding-left: 27px;
		&:last-child {
			margin-bottom: 0;
		}
		&::before {
			content: '— ';
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__image {
		display: block;
		margin-bottom: -40px;
		margin-top: 40px;
		align-self: stretch;
		object-fit: cover;
	}
	&__blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__blocks-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 60px 0;
		margin-left: -40px;
	}
	&__block {
		text-align: center;
		padding: 0 40px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__icon {
		display: block;
		margin: 0 auto 24px auto;
	}
	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-white;
	}
	&__wrapper-price {

	}
}

.technologies {
	text-align: center;
	background-color: $color-main;
	padding: 40px 0;
	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-white;
		padding: 0 40px;
		margin: 0;
	}
	&__button {
		margin-top: 32px;
		&:hover {
			color: $color-main-light;
			background: $color-white;
		}
	}
}

.projects {
	& + .projects {
		margin-top: 100px;
	}
	& + .callback {
		margin-top: 100px;
	}
	&__title {
		margin-bottom: 20px;
	}
	&__block {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: flex-start;
		margin: 0 -20px;
	}
	&__link {
		@include reset-link;
		display: block;
	}
	&__item {
		flex-shrink: 0;
		text-align: center;
		width: calc(100% / 3 - 40px);
		min-width: 228px;
		margin: 20px 20px;
	}
	&__image {
		display: block;
	}
	&__block-title {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-main;
		margin: 24px 0 8px 0;
		&_margin_none {
			margin-bottom: 0;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-black;
	}
	&__wrapper-button {
		text-align: center;
		margin-top: 12px;
	}
	&__button {
		margin-top: 0;
	}
}

.item-list {
	margin-top: 120px;
	&__title {
		margin-bottom: 40px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__list {
		margin-left: 80px;
	}
	&__item {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
	&__icon {
		margin-right: 24px;
	}
	&__subtitle {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-main;
	}
	&__description {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-main;
	}
	&__text-block {
		
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 640px;
		height: 354px;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-white;
		background-color: $color-main;
		box-shadow: -40px 40px 0 $color-main-light;
		padding: 40px 40px;
	}
	&_type_reverce {
		margin-bottom: 0;
		& .column {
			&:first-child {
				padding-right: 80px;
			}
		}
		& .item-list {
			&__item {
				align-items: flex-start;
			}
			&__list {
				margin-left: 0;
			}
			&__text {
				box-shadow: 40px 40px 0 $color-main-light;
			}
			&__wrapper {

			}
		}
	}
}

.price-block {
	display: flex;
    flex-direction: column;
    justify-content: center;
	flex-shrink: 0;
	align-self: stretch;
	color: $color-white;
	background-color: $color-main-light;
	padding: 40px 32px 40px 40px;
	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
	}
	&__wrapper-price {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		flex-wrap: wrap;
		align-items: baseline;
		margin-top: 24px;
	}
	&__text {
		font-size: 26px;
		font-weight: 600;
	}
	&__new-price {
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 66px;
	}
	&__old-price {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		text-decoration-line: line-through;
		color: $color-main;
		margin-left: 24px;
	}
	&__button {
		margin-top: 26px;
	}
}

.project {
	&__wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-wrap: wrap;
		margin: 0 -20px;
	}
	&__title {
		display: inline-block;
		margin-top: 20px;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		color: #00779F;
	}
	&__item {
		@include reset-link;
		display: block;
		min-width: 228px;
		max-width: 426px;
		text-align: center;
		cursor: pointer;
		margin: 0 20px 40px 20px;
		&:hover {
			.project__image-wrapper::before {
				opacity: 1;
			}
			.project__image-wrapper::after {
				opacity: 1;
			}
		}
	}
	&__subtitle {
		margin-bottom: 40px;
	}
	&__image-wrapper {
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			content: '';
			background-color: rgba(0,0,0,.25);
			transition: all .5s ease;
			opacity: 0;
		}
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			transform: translate(-50%, -50%);
			content: '';
			width: 28px;
			height: 28px;
			background-image: url('../images/loop.svg');
			background-size: cover;
			background-repeat: no-repeat;
			transition: all .5s ease;
			opacity: 0;
		}
		&:hover {
			&::before {
				opacity: 1;
			}
			&::after {
				opacity: 1;
			}
		}
	}
	&__image {
		display: block;
		outline: 1px solid #F0F0F0;
	}
	& + .callback {
		margin-top: 80px;
	}
}
.modal-vacancy {
	width: 815px;
	background-color: $color-white;
	padding: 48px;
	&__title {
		margin-bottom: 32px;
	}
	h3 {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-main;
		margin: 24px 0 8px 0;
	}
	ul {
		@include reset-list;
		li {
			position: relative;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: $color-main;
			padding-left: 20px;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: '— ';
			}
			&:first-child {
				margin-top: 8px;
			}
		}
	}
	&__button {
		margin-top: 32px;
	}
	& .fancybox-close-small {
		color: $color-main;
	}
}
#modal-vacancy-btn {
	& > .cards__subtitle {
		margin-top: 0;
		margin-bottom: 0;
	}
}
[data-src^="#modal-vacancy"] {
	.cards__subtitle {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.page-not-found {
	&__link {
		color: $color-main;
		transition: color .5s ease;
		&:hover {
			color: $color-main-light;
		}
	}
}
.text-page {
	margin: 60px 0 64px 0;
	&__title {
		font-weight: bold;
		font-size: 60px;
		line-height: 68px;
		text-transform: uppercase;
		color: $color-main;
		margin: 0 0 64px 0;
	}
	a {
		color: $color-main;
		transition: color .8s ease;
		&:hover {
			color: $color-main-light;
		}
	}
	&__footer {
		margin-top: 64px;
	}
}
.workemail {
	display: none;
}
.form-vacancy {
	width: 815px;
	max-width: 100%;
	font-weight: 500;
	font-size: $size_main;
	line-height: 24px;
	text-align: left;
	padding: 48px;
	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-main;
	}
	&__prompt {
		color: $color-silver;
		margin: 4px 0 40px 0;
	}
	&__input-group {

	}
	&__label {

	}
	&__input, &__textarea {
		@include reset-input;
		width: 100%;
		height: 38px;
		color: $color-black;
		background-color: $color-white;
		border-bottom: 2px solid $color-main;
		padding: 12px 0;
		margin-bottom: 32px;
		&::placeholder {
			color: $color-silver;
		}
	}
	&__textarea {
		min-height: 50px;
		height: auto;
		resize: vertical;
	}
	&__file-wrapper {
		display: flex;
		align-items: flex-start;
	}
	&__file-group {
		position: relative;
		margin-bottom: 32px;
		& .form-vacancy__input {
			width: auto;
			border-bottom: none;
		}
	}
	&__file-input {
		position: absolute;
		z-index: 0;
		overflow: hidden;
		opacity: 0;
	}
	&__file-label {
		display: inline-block;
		overflow: hidden;
		margin-right: 16px;
		cursor: pointer;
		position: relative;
		z-index: 1;
		color: #00B6F4;
		text-decoration-line: underline;
	}
	&__file-text {
		color: $color-silver;
	}
	&__file-name {
		font-size: 14px;
		line-height: 24px;
		word-wrap: break-word;
		color: $color-main;
	}
	&__text-block {
		font-weight: 600;
		font-size: 12px;
		line-height: $size_main;
		color: $color-main;
	}
	&__text {

	}	
	&__link {
		color: $color-main;
		transition: color .8s ease;
		&:hover {
			color: $color-main-light;
		}
	}
	&__button-wrapper {
		text-align: center;
	}
	&__button {

	}
}
.file-error {
	font-weight: 400;
	font-size: 12px;
	color: red;
}
.partners-logo {
	&__image-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0 -20px;
	}
	&__image {
		width: calc(20% - 40px);
		margin: 0 20px;
	}
}

.fancybox-close-small {
	opacity: 1;
}
.fancybox-slide--html .fancybox-close-small {
	right: 18px;
	top: 18px;
	padding: 0;
	width: 36px;
	height: 36px;
	& svg {
		color: $color-main;
	}
}
.project-page {
	& .page-top {
		margin-bottom: 20px;
	}
	& .projects {
		padding-top: 100px;
		margin-top: 0;
	}
	& .projects + .projects, .content__projects {
		padding-top: 100px;
		margin-top: 0;
	}
}
.daughter-pages  {
	& + .callback {
		margin-top: 45px;
	}
	&__wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 0 -20px;
	}
	&__item {
		@include reset-link;
		display: block;
		width: calc(100% / 3 - 40px);
		text-align: center;
		margin: 0 20px 30px;
	}
	&__image {
		display: block;
		margin-bottom: 22px;
	}
	&__name {
		display: inline-block;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $color-main;
	}
}




/* ПОДКЛЮЧЕНИЕ СТИЛЕЙ АДАПТИВА */
@import "_response";
/* НИЖЕ СТЕЛЕЙ НЕ ДОЛЖНО БЫТЬ!!! */