.breadcrumbs {
    @include reset-list;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 16px;
    &__item {
        font-size: 12px;
        line-height: 16px;
        color: #BDBDBD;
        &:not(:last-child):after {
            content: '-';
            margin: 0 6px;
        }
    }
    &__link {
        @include reset-link;
        text-decoration-line: underline;
    }
}