.footer {
    color: $color-white;
    background-color: $color-black;
    &__top {
        position: relative;
        padding: 48px 0;
        &::after{
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            width: 100%;
            height: 1px;
            background-color: $color-white;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        padding: 48px 0;
    }
    &__logo {

    }
    &__image {

    }
    &__info {

    }
    &__email {
        @include reset-link;
        position: relative;
        display: inline-block;
        background-position: left center;
        padding-left: 20px;
        margin-right: 24px;
        transition: color .1s ease;
        &::before {
            position: absolute;
            top: 2px;
            left: 0;
            width: 16px;
            height: 12px;
            content: '';
            mask-image: url('../../images/email-white.svg');
            background-color: $color-white;
        }
        &:hover {
            color: #a0d7ff;
            &::before {
                background-color: #a0d7ff;
            }
        }
    }
    &__phone {
        @include reset-link;
        position: relative;
        display: inline-block;
        padding-left: 20px;
        transition: color .1s ease;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            content: '';
            mask-image: url('../../images/phone-white.svg');
            background-color: $color-white;
        }
        &:hover {
            color: #a0d7ff;
            &::before {
                background-color: #a0d7ff;
            }
        }
    }
    &__copyright {

    }
    &__link {
        @include reset-link;
        text-decoration: underline;
        transition: color .1s ease;
        &:hover {
            color: #a0d7ff;
        }
    }
}