.header {
    font-size: 12px;
	line-height: 16px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__top {
        background-color: $color-main-light;
        padding: 8px 0;
    }
    &__select {

    }
    &__link-wrapper {
        color: $color-main;
    }
    &__email {
        @include reset-link;
        background: url('../../images/email.svg') no-repeat;
        background-position: left center;
        padding-left: 20px;
        margin-right: 24px;
    }
    &__phone {
        @include reset-link;
        background: url('../../images/phone.svg') no-repeat;
        padding-left: 20px;
    }
    &__bottom {
        padding: 24px 0;
    }
    &__logo-link {

    }
    &__logo-image {
        display: block;
    }
}
.hamburger {
    display: none;
}