extends layout.pug

block variables
	- var parentTitle = "Главная"
	- var pageTitle = "Контакты"

block content
	section.content__section.contacts
		div.container 
			h2.title Контакты
			div.contacts__wrapper
				div.contacts__text-block.text-block
					ul 
						li.contacts__item(data-address) Россия, г. Н. Новгород, ул. Большая Покровская, 15
						li.contacts__item
							a.contacts__link(href="tel:+79452343434" data-phone) +7 (945) 234-34-34 
						li.contacts__item 
							a.contacts__link(href="tel:+79452343434" data-fax) +7 (945) 234-34-34
						li.contacts__item 
							a.contacts__link(href="mailto:export.help@info.ru" data-email) Export.help@info.ru
					div.contacts__subtitle Отдел маркетинговых исследований
					ul 
						li.contacts__item 
							a.contacts__link(href="tel:+79452343434" data-phone) +7 (945) 234-34-34
						li.contacts__item 
							a.contacts__link(href="mailto:export.help@info.ru" data-email) Name@info.ru
					div.contacts__subtitle Отдел переводов документов
					ul 
						li.contacts__item 
							a.contacts__link(href="tel:+79452343434" data-phone) +7 (945) 234-34-34
						li.contacts__item 
							a.contacts__link(href="mailto:export.help@info.ru" data-email) Name@info.ru
				div.contacts__map-wrapper
					div.contacts__map#map