extends layout.pug

block variables
	- var parentTitle = "Главная"
	- var pageTitle = "Экспортеру"

block content
	div.content__wrapper
		section.content__section
			div.container
				h1.title Экспортеру
				p Экспортёр — сторона в международных экономических отношениях, поставляющая товары, услуги, труд, капитал, другие предметы международной торговли другой стороне (импортёру), которая использует их для производства других товаров, услуг или потребляет.
				div.cards-info 
					a.cards-info__item(href="#" style=`background-image: url('images/exporter-1.jpg');`)
						h2.cards-info__title Начинающему #[br] экспортеру
						button.cards-info__button.button(type="button") Подробнее
					a.cards-info__item(href="#" style=`background-image: url('images/exporter-2.jpg');`)
						h2.cards-info__title Действующему #[br] экспортеру
						button.cards-info__button.button(type="button") Подробнее