extends layout.pug

block variables
	//- - var parentTitle = ["Услуги","dgfdfg"]
	- var parentTitle = "Главная"
	- var pageTitle = "Экспортеру"

block content
	
	include blocks/callback
	include blocks/footer