extends layout.pug

block variables
	- var parentTitle = "Главная"
	- var pageTitle = "Наши проекты"

block content
	div.content__wrapper
		section.content__section
			div.container
				h1.title Наши проекты
				div.cards-info
					a.cards-info__item(href="#" style=`background-image: url('images/project-1.jpg');`)
						h2.cards-info__title Сельское #[br] хозяйство
						button.cards-info__button.button(type="button") Подробнее
					a.cards-info__item(href="#" style=`background-image: url('images/project-2.jpg');`)
						h2.cards-info__title Пищевая #[br] промышленность
						button.cards-info__button.button(type="button") Подробнее
					a.cards-info__item(href="#" style=`background-image: url('images/project-3.jpg');`)
						h2.cards-info__title Цветные металлы
						button.cards-info__button.button(type="button") Подробнее
					a.cards-info__item(href="#" style=`background-image: url('images/project-4.jpg');`)
						h2.cards-info__title Строительство
						button.cards-info__button.button(type="button") Подробнее