-
	var versionFiles = 0,

	menu = [
		{
			'title': 'О нас',
			'link': 'about-us.html',
		},
		{
			'title': 'Экспортеру',
			'link': '#',
		},
		{
			'title': 'Услуги и цены',
			'link': '#',
		},
		{
			'title': 'Аналитика',
			'link': '#',
		},
		{
			'title': 'Наши проекты',
			'link': '#',
		},
		{
			'title': 'полезное',
			'link': '#',
		},
		{
			'title': 'Контакты',
			'link': '#',
		},
	];