-
	var versionFiles = 0,

	menu = [
		{
			'title': 'О нас',
			'link': 'about-us.html',
		},
		{
			'title': 'Экспортеру',
			'link': 'exporter.html',
			'submenu': [
				{
					'title': 'Начинающему экспортеру',
					'link': '#',
				},
				{
					'title': 'Действующему экспортеру',
					'link': '#',
				},
			],
		},
		{
			'title': 'Услуги и цены',
			'link': '#',
		},
		{
			'title': 'Аналитика',
			'link': '#',
		},
		{
			'title': 'Наши проекты',
			'link': 'projects.html',
			'submenu': [
				{
					'title': 'Сельское хозяйство',
					'link': 'category.html',
				},
				{
					'title': 'Пищевая промышленность',
					'link': 'category.html',
				},
				{
					'title': 'Цветные металлы',
					'link': 'category.html',
				},
				{
					'title': 'Строительные',
					'link': 'category.html',
				},
			],
		},
		{
			'title': 'Полезное',
			'link': '#',
		},
		{
			'title': 'Контакты',
			'link': 'contacts.html',
		},
	];
	slider = [
		{
			'title': 'Центр экспорта',
			'descr': 'Решаем вопросы с экспортом до реальных продаж',
			'link': 'Подробнее',
		},
		{
			'descr': 'Проведем маркетинговое исследование в вашей нише',
			'link': 'Оставить заявку',
		},
		{
			'descr': 'Найдем потенциальных клиентов вашей продукции',
			'link': 'Оставить заявку',
		},
		{
			'descr': 'Разработаем стратегию выхода на внешний рынок',
			'link': 'Оставить заявку',
		},
		{
			'descr': 'Полное сопровождение вашей компании на внешнем рынке',
			'link': 'Оставить заявку',
		},
	];
	project = [
		{
			'image': '1',
			'name': 'АО Русская медная компания',
			'product': 'Медь',
			'market': 'Зимбабве',
			'time': '1 год',
		},
		{
			'image': '2',
			'name': 'АО Бамтоннельстрой',
			'product': 'Металл',
			'market': 'Зимбабве',
			'time': 'полгода',
		},
		{
			'image': '3',
			'name': 'АО Великоустюгский ликёро-водочный завод',
			'product': 'Алкоголь',
			'market': 'Зимбабве',
			'time': '2 года',
		},
	];