-
	var versionFiles = 0,

	menu = [
		{
			'title': 'О нас',
			'link': 'about-us.html',
		},
		{
			'title': 'Экспортеру',
			'link': '#',
			'submenu': [
				{
					'title': 'Начинающему экспортеру',
					'link': '#',
				},
				{
					'title': 'Действующему экспортеру',
					'link': '#',
				},
			],
		},
		{
			'title': 'Услуги и цены',
			'link': '#',
		},
		{
			'title': 'Аналитика',
			'link': '#',
		},
		{
			'title': 'Наши проекты',
			'link': '#',
			'submenu': [
				{
					'title': 'Сельское хозяйство',
					'link': '#',
				},
				{
					'title': 'Пищевая промышленность',
					'link': '#',
				},
				{
					'title': 'Цветные металлы',
					'link': '#',
				},
				{
					'title': 'Строительные',
					'link': '#',
				},
			],
		},
		{
			'title': 'полезное',
			'link': '#',
		},
		{
			'title': 'Контакты',
			'link': '#',
		},
	];