@charset "UTF-8";
@-webkit-keyframes slideChange {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideChange {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Lato Regular */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Lato Bold */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
          text-size-adjust: none;
  font-size: 18px;
  line-height: 24px;
  background-color: #fff;
  color: #000;
  position: relative;
}

* {
  box-sizing: border-box;
}

img {
  border: none;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1250px;
  padding: 0 40px;
}

.title {
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 30px;
}

.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider__item::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 582px;
  height: 100%;
  content: "";
  background: linear-gradient(90deg, rgba(235, 247, 255, 0.53) 24.07%, rgba(255, 255, 255, 0) 100%);
}
.slider__item_number_1 {
  background-image: url("../images/slider-1.png");
}
.slider__item_number_2 {
  background-image: url("../images/slider-2.png");
}
.slider__item_number_3 {
  background-image: url("../images/slider-3.png");
}
.slider__item_number_4 {
  background-image: url("../images/slider-4.png");
}
.slider__item_number_5 {
  background-image: url("../images/slider-5.png");
}
.slider__item.animate {
  -webkit-animation: 1s linear 0s slideChange;
          animation: 1s linear 0s slideChange;
}
.slider__text-wrapper {
  width: 447px;
}
.slider__title {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}
.slider__title + .slider__description {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
}
.slider__description {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
}
.slider__button {
  text-decoration: none;
  color: inherit;
  outline: none;
  display: inline-block;
  color: #fff;
  margin-top: 24px;
}
.slider__dots-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -30px;
  cursor: pointer;
}
.slider__dots-item {
  border: none;
  background-color: transparent;
  outline: 0px solid transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  font: inherit;
  border-radius: 0;
  padding: 10px 0;
  margin: 0 4px;
}
.slider__dots-button {
  border: none;
  background-color: transparent;
  outline: 0px solid transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  font: inherit;
  border-radius: 0;
  display: block;
  width: 80px;
  height: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(26, 32, 34, 0.22);
  border-radius: 4px;
}
.slider__dots-button.active {
  background-color: #304fd8;
}

.button {
  background-color: #304fd8;
  border-radius: 4px;
  padding: 7px 25px;
}
.button:hover {
  background-color: #1e40d8;
}

/* ПОДКЛЮЧЕНИЕ СТИЛЕЙ АДАПТИВА */
@media screen and (max-width: 1459px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1220px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 1012px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 788px) {
  .container {
    max-width: 576px;
  }
}
@media screen and (max-width: 596px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
/* НИЖЕ СТЕЛЕЙ НЕ ДОЛЖНО БЫТЬ!!! *//*# sourceMappingURL=main.css.map */